{% extends 'base.html' %}
{% load static %}

{% block title %} Audit & Evaluation {% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'css/home/custom.css' %}">
{% endblock %}  
{% block content %}
<canvas></canvas>
<!-- Hero Section -->
<section class="hero-section text-center">
    <div class="container">
        <h1 class="display-4 fw-bold mb-4"></h1>
        <p class="lead mb-5">Optimisez la productivité de votre entreprise grâce à une utilisation maîtrisée d'Excel</p>
        
    </div>
</section>

{% endblock %}