{% extends 'base.html' %}
{% load static %}

{% block title %} Nos Services Supplementaire {% endblock %}

{% block style %}   
% endblock %}

{% block content %}
<canvas></canvas>
<!-- Hero Section -->
<section class="hero-section text-center">
    <div class="container position-relative">
        <h1 class="display-4 fw-bold mb-4">🛠 Services Complémentaires</h1>
        <p class="lead mb-5">Des solutions sur mesure pour optimiser votre productivité Excel & Power BI</p>
        <a href="{% url 'services' %}" class="btn btn-light btn-lg px-5 me-3">Découvrir nos services</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-light btn-lg px-5">Nous contacter</a>
    </div>
</section>

{% endblock %}
